# Build artifacts
/target/
/build/
/pkg/

# Dependencies
node_modules/

# Environment files
.env
.dev.vars

# Nix
result

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Wrangler
.wrangler/
wrangler.production.toml
.direnv

# Documentation build
site/

# cachix/git-hooks.nix
.pre-commit-config.yaml
